
<h3 class="title">Contact</h3>
          <a href="#whatsapp" onclick="window.open('https://api.whatsapp.com/send?phone=19165462287','popUpWindow','height=500,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
            <img src="assets/img/social/whatsapp.png" class="social-icon" alt="whatsapp">
          </a> 
         <a href="#skypeModal" onclick="window.open('skype:live:.cid.18787c4bbff8908?chat','popUpWindow','height=500,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
            <img src="assets/img/social/skype.png" class="social-icon" alt="Skype">
          </a>
   
              <a href="mailto:hello@englishtalk.us">
                  <img src="assets/img/social/email.png" class="social-icon" alt="Email">
                </a>
<h3 class="title" >Social networks</h3>
          <a href="https://www.linkedin.com/company/englishtalk-us/?viewAsMember=true" target="blank">
            <img src="assets/img/social/linkedin.png" class="social-icon" alt="LinkedIn">
          </a>
          <a href="https://www.instagram.com/englishtalk.us/" target="blank">
            <img src="assets/img/social/instagram.png" class="social-icon" alt="Instagram">
          </a>