<section class="show-for-large etus-contact">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y grid-margin-y align-spaced contact-block">
            <div class="cell small-6">
                <h3 class="title">Contact</h3>
                <a href="#whatsapp" onclick="window.open('https://api.whatsapp.com/send?phone=19165462287','popUpWindow','height=500,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
                  <img src="assets/img/social/whatsapp.png" class="social-icon" alt="whatsapp">
                </a> 
               <a href="skype:live:.cid.18787c4bbff8908?chat">
                  <img src="assets/img/social/skype.png" class="social-icon" alt="Skype">
                </a>
         
                    <a href="mailto:hello@englishtalk.us" target="blank">
                        <img src="assets/img/social/email.png" class="social-icon" alt="Email">
                      </a>
            </div>
            <div class="cell small-6">
                <h3 class="title" >Social networks</h3>
                <a href="https://www.linkedin.com/company/englishtalk-us/?viewAsMember=true" target="_blank">
                  <img src="assets/img/social/linkedin.png" class="social-icon" alt="LinkedIn">
                </a>
                <a href="https://www.instagram.com/englishtalk.us" target="_blank">
                  <img src="assets/img/social/instagram.png" class="social-icon" alt="Instagram">
                </a>
            </div>
          </div>
      </div>
</section>
<section class="hide-for-large etus-contact">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y contact-block">
            <div class="cell small-12 medium-6">
                <h3 class="title">Contact</h3>
                <a href="https://api.whatsapp.com/send?phone=19165462287">
                  <img src="assets/img/social/whatsapp.png" class="social-icon" alt="whatsapp">
                </a> 
               <a href="skype:live:.cid.18787c4bbff8908?chat">
                  <img src="assets/img/social/skype.png" class="social-icon" alt="Skype">
                </a>
         
                    <a href="mailto:hello@englishtalk.us">
                        <img src="assets/img/social/email.png" class="social-icon" alt="Email">
                      </a>
                      <br>
            </div>
            <div class="cell small-12 medium-6">
                <h3 class="title" >Social networks</h3>
                <a href="https://urlgeni.us/linkedin/etus">
                  <img src="assets/img/social/linkedin.png" class="social-icon" alt="LinkedIn">
                </a>
                <a href="https://urlgeni.us/instagram/etusi">
                  <img src="assets/img/social/instagram.png" class="social-icon" alt="Instagram">
                </a>
                <br>
            </div>
          </div>
      </div>
</section>
<section class="etus-footer">
<div class="grid-x grid-padding-x"></div>
    <div class="cell">
        <p>Copyright &copy; EnglishTalk US 2019. All rights reserved</p>
    </div>
  </div>
</section>