<div class="grid-container">
        <div class="menu-ui">
              <button class="close-button" aria-label="Close menu" type="button" data-close>
                  <span aria-hidden="true">&times;</span>
                </button>
        <img class="logo float-center" src="assets/img/logo-oval-original.png">
          <div class="menu-links menu-center">
          <a id="active" href="index.html">HOME</a>
          <a href="about.html">ABOUT ME</a>
          <a href="services.html">SERVICES</a>
          <a href="testimonials.html">TESTIMONIALS</a>
      </div>
 </div>