<div class="mobile-app-icon-bar show-for-small-only">
  <button><a href="/index.html"><i class="fas fa-home" aria-hidden="true"></i><br><h3>HOME</h3></a></button>
  <button><a href="/about.html"><i class="far fa-user-circle" aria-hidden="true"></i><br><h3>ABOUT</h3></a></button>
  <button><a href="/services.html"><i class="far fa-question-circle" aria-hidden="true"></i><br><h3>FAQ</h3></a></button>
  <button><a href="/testimonials.html"><i class="fas fa-comments" aria-hidden="true"></i><br><h3>CHAT</h3></a></button>
</div>
